*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.container{
    margin: 0 auto;
    height: 50px;   
}

.container-main-top{
    height: 600px;
    width: 900px;
    margin: 0 auto;
    background-color: rgb(116, 167, 214);
}

.colo-bg-top-main{
    background-color: rgb(116, 167, 214);
    height: 600px;
    margin: 0 auto;
}

.container-main{
    height: 2400px;
    max-width: 800px;
    
    margin: 0 auto;    
}

.container-bottom-img-svg{
    height: 300px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    left: -320px;
    z-index: 1;
    position: relative;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col-40{
    width: 40%;
    height: 400px;
    text-align:left;
    font-size: 20px;
    padding-right: 10px;
}

.col-60{
    width: 60%;
    height: 400px;
    align-content: left;
}

.col-50{
    width: calc(100%/2);
    height: 25px;
    margin-top: 10px;
    color: wheat;
}

.col-900-100{
    width: 900px;
    height: 200px;
    
}

.col-h2{
    font-size: 40px;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    text-align: left;
}

.bottoni-main{
    
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    text-align:left ;
}

.checkbox-m{
    padding-top: 10px;
}
.Fatturazione-Mensile{
    margin-right: 20px;
}



.col-33{
    width: calc(100%/3);
    height: 700px;
    padding: 5px auto;
    flex-direction: column;
    margin-top: 20px; 
    border: 1px solid black; 
    gap: 5px; 
}

.p-33{
    text-align: center;
}

.padding-5{
    padding-left: 5px;
}

.padding-5px{
    padding: 5px 0px;
}

.padding-40{
    padding: 5px 40px;
}

.padding-40-1{
    padding: 5px 31px 5px 40px;
}

.col-enterprise{
    margin-top: 20px;
    border: 1px solid black;
    width: 100%;
    height: 150px;
}

.m-1p{
    border-block-end: 1px solid;
}

.col-partner{
    width: 50%;
    height: 300px;
    margin-top: 20px;
}

.img-partner{
    width: 100%;
    height: 100%;
}

.col-partner-1{
    width: 50%;
    height: 300px;
    margin-top: 20px;
}

.col-business-name{
    
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.col-business-1{
    width: calc(100%/3);
    height: 330px;
    margin-top: 20px;
}

.col-business-1-b{
    margin: 0 auto;
    width: 70%;
    height: 70%;
}

.pad-partn-1{
    padding-right: 95px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.col-business-2{
    width: calc(100%/3);
    height: 330px;
    margin-top: 20px;
}

.col-business-3{
    width: calc(100%/3);
    height: 330px;
    margin-top: 20px;
}

.col-business-4{
    width: calc(100%/3);
    height: 330px;
    margin-top: 20px;
}

.col-business-5{
    width: calc(100%/3);
    height: 330px;
    margin-top: 20px;
}

.col-business-6{
    width: calc(100%/3);
    height: 330px;
    margin-top: 20px;
}

.bottom-text-business{
    width: 100%;
    height: 40px;
    margin-top: 40px;
}

.div-bottom{
    padding-top: 15px;
}

.li-block{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

   

.txt-r{
    text-align: right;
}

.txt-align{
    text-align: left;
    
}

.ul-unstyled li{
    list-style-type: none;
}


/* Decorazioni */

.text-white{
    color: black;
    text-decoration: none;
    
}

.bg-blu{
    background-color: blue;
    color: white;
    text-decoration: none;
}

.bg-blu-p{
    background-color: blue;
    color: white;
    text-decoration: none;
    text-align: right;
}

.d-flex{
    display: flex;
}

.freccia-giu{
    margin-top: 20px;
    
}

.jumbo-img{
    position: relative;
  width: 645px;
  height: 430px;
  top: 0px;
  left: -20px;
}

h1{
    font-size: 70px;
    text-align: left;
}

.h4-bottom{
    font-size: 40px;
}

.fs-45{
    font-size: 45px;
}



 
.img-business-1{
    width: 100%;
    height: 100%;
}

.img-business-2{
    width: 100%;
    height: 100%;
}

.img-business-3{
    width: 100%;
    height: 100%;
}

.img-business-4{
    width: 100%;
    height: 100%;
}

.img-business-5{
    width: 100%;
    height: 100%;
}

.img-business-6{
    width: 100%;
    height: 100%;
}

.m-r{
    margin-right: 490px;
}

.m-l{
    margin-left: 5px;
}

h5{
    padding-top: 5px;
}